.app-body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}
.app-navbar {
  background-color: goldenrod;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  padding: 0 20px;
}

.app-navbar a {
  color: white;
}
.app-navbar a:hover {
  color: #61dafb;
}
.home-link {
  padding: 0 20px;
  text-decoration: none;
}
.addtodo-link {
  text-decoration: none;
}
.card {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(255, 225, 0);
  border-radius: 0.1rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.completed-card {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(255, 225, 0);
  border-radius: 0.1rem;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-body {
  padding: 1rem;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  }

.complete-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 0.1rem;
  padding: 1px 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
}
.complete-button:hover {
  background-color: #43a047;
}
.delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 0.1rem;
  padding: 1px 1rem;
  font-size: 1rem;
  cursor: pointer;
}
.delete-button:hover {
  background-color: #e53935;
}